<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->

      <div class="page-logo" style="padding-top:4px ;width: 200px;">
            <b style="font-size: 20px; 
               margin-left: 15%;color:#01c0c8;;width:200px"></b>
        </div>
        <!-- END LOGO -->
        <div class="library-menu" style="margin-left:-189px;"> 
            <span class="one">-</span> 
            <span class="two">-</span> 
            <span class="three">-</span> 
            
        </div>
        
        <!-- BEGIN TOP NAVIGATION MENU -->
        
        <div class="top-menu">
                <ul class="nav navbar-nav pull-right">   
                    
                        <li class="nav-item dropdown">
                          <a class="fa fa-power-off fa-2x" style="color: #ffffff;" href="#/login" id="navbarDropdownMenuLink"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                            
                              </li>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<div class="clearfix" style="background-color: #d62a78"> 
       <h3 style="text-align: center;font-size: 28px;padding-top: 3px;color:#ffffff ;" ><i class="fa fa-stethoscope" aria-hidden="true"></i> 
        PHARMASY DASHBOARD <i class="fa fa-stethoscope" aria-hidden="true"></i>
    </h3> 
    
</div>