<div class="page-container">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight" style="margin-top: 20px;">
        <div class="page-content">
            <div class="wrapper-content">
                <div class="row" style="padding-left: 10px;padding-right: 10px;">
                    <div class="col-lg-3" >
                        <!-- <a ui-sref="mcc1"> -->
                        <a>
                            <div class="widget green-bg">
                                <div class="row" style="padding: 4px;background-color: white;">
                                    <div class="col-xs-2 text-center">
                                        <img src="images/team1.png" style="
                                                         height: 67px;
                                                         width: 70px;
                                                         margin-top: -17px;
                                                         ">
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <span class="grey" style="color: #5d5d5d; font-size: 17px;">Total Team Members </span>
                                        <h3 class="font-bold orange" style="color: #2e3192;font-size: 34px;">7 </h3>
                                    </div>
                                </div>
                                <!-- <div sparkline spark-data="barCustomData" spark-options="barCustomOptions"></div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3" >
                        <a>
                            <div class="widget green-bg">
                                <div class="row" style="padding: 4px;">
                                    <div class="col-xs-2 text-center">
                                        <img src="images/team1.png" style="
                                             height: 67px;
                                             width: 70px;
                                             margin-top: -17px;
                                             ">
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <span class="grey" style="color: #5d5d5d; font-size: 17px;">Total Past Activities </span>
                                        <h3 class="font-bold orange" style="color: #2e3192;font-size: 34px;">1</h3>
                                    </div>
                                </div>
                                <!-- <div sparkline spark-data="barCustomData" spark-options="barCustomOptions"></div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3"  >
                        <a>
                            <div class="widget yellow-bg">
                                <div class="row" style="padding: 4px;">
                                    <div class="col-xs-2 text-center">
                                        <img src="images/team1.png" style="
                                             height: 75px;
                                             width: 70px;
                                             margin-top: -25px;
                                             ">
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <span class="grey" style="color: #5d5d5d; font-size: 17px;"> Total Present Activities </span>
                                        <h3 class="font-bold purple" style="color: #2e3192;font-size: 34px;">2</h3>
                                    </div>
                                </div>
                                <!-- <div sparkline spark-data="longLineData" spark-options="longLineOptions"></div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3"  >
                        <a>
                            <div class="widget aqua-bg">
                                <div class="row" style="padding: 4px;">
                                    <div class="col-xs-2 text-center">
                                        <img src="images/team1.png" style="
                                             height: 70px;
                                             width: 53px;
                                             margin-top: -17px;
                                             ">
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <span class="grey" style="color: #5d5d5d; font-size: 17px;">Programs Count</span>
                                        <h3 class="font-bold orange" style="color: #2e3192;font-size: 34px;">6 </h3>
                                    </div>
                                </div>
                                <!-- <div sparkline spark-data="barCustomData" spark-options="barCustomOptions"></div> -->
                            </div>
                        </a>
                    </div>

                </div>

                <br>
                <br>



            </div>

        </div>
    </div>
</div>
</div>

<style>
    .widget {
        border-radius: 7px !important;
        padding: 15px 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .06);
        flex-wrap: wrap;
        background-color:white;;
    }

    a,
    u {
        color: #ffffff;
        text-decoration: none !important;
    }

    a:hover,
    a:focus {
        color: #ffffff;
    }

    .cusImg {
        height: 70px;
        float: right;
    }

    .cusIconSize {
        font-size: 35px;
    }

    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
        width: 170px !important;
        height: 28px !important;
    }



    .demo-container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 20px 15px 15px 15px;
        margin: 0 auto 20px auto;
        border: 1px solid #ddd;
        background: #fff;
    }


    .grow:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: all ease-in .3s;
    }

    

    #chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;  
}	
</style>